{% extends "layout.html"%}
{% block contenido%}

    <h1>Distancia entre dos puntos</h1>
    <form action="/distancia" method="post">
        <div class="mb-3">
            <label for="x1" class="form-label">X1:</label>
            <input type="text" class="form-control" id="x1" name="x1" placeholder="X1">
        </div>
        <div class="mb-3">
            <label for="y1" class="form-label">Y1:</label>
            <input type="text" class="form-control" id="y1" name="y1" placeholder="Y1">
        </div>
        <div class="mb-3">
            <label for="x2" class="form-label">X2:</label>
            <input type="text" class="form-control" id="x2" name="x2" placeholder="X2">
        </div>
        <div class="mb-3">
            <label for="y2" class="form-label">Y2:</label>
            <input type="text" class="form-control" id="y2" name="y2" placeholder="Y2">
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
    <h5 class="font-bold">{{disti}}</h5>
    
    
{% endblock %}